# vim: ft=yaml
entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

providers:
  docker:
    swarmMode: true
    exposedbydefault: false
    network: public

certificatesResolvers:
  letsEncrypt:
    acme:
      email: "{{ traefik.acme_email }}"
      storage: "/etc/traefik/acme/acme.json"
      httpChallenge:
        entryPoint: web
