# vim: ft=yaml
version: '3'

services:
  app:
    image: 'traefik:{{ traefik.version }}'

    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.hostname == alpha

    networks:
      - public
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - '/srv/traefik.yml:/etc/traefik/traefik.yml'
      - 'acme:/etc/traefik/acme'
      - '/var/run/docker.sock:/var/run/docker.sock'

networks:
  public:
    external: true

volumes:
  acme:
